dist: trusty
sudo: false
language: python

python:
- 2.7
- &latest_py3 3.6

jobs:
  fast_finish: true
  include:
  - stage: deploy
    if: tag IS present
    python: *latest_py3
    install: skip
    script: skip
    deploy:
      provider: pypi
      on:
        tags: true
        all_branches: true
      user: jaraco
      password:
        secure: YMmZ2GVG0AbDyyOzCkiExItPLen/nusgbigAe/0Dzn3G3b1NNM0nCQ24WnBFBLsdREo8Uk9mCEPXxxegkK3Ksqmv2tL35mM6dpY+i9BFTz68A2vlYaYXqx23vpyQ7kXoOy6GF8ZX0b8uSmBEuIOfjThd7Qv5FqRy97KUBo2LGdGz310SEsno/VCGD8UfrdEdBc6Jq/l6cqlV9CLc2QyE6bfq/3Ss6voX4b2qJhq+JSyi0YIdCPRjckKyyUkXWcElmFvh57YJVZZSXa7m0sljjlrkf1gIwjsWmJLirK/mXEfST4TowyQd3qYjh6DvMJOuPtTrtd8P9cTEGB+1kXMXHVI/oQvUVikq7BYm1ypqTFTFcO8vv9KClocGCLyspedZ62kPM+wuStL4lHOJnXIR3hQeFAc2QAs2S1orH2v8iiB2bhf7B/ySDHyCDseL/Z6FwHjgloYBIpu9C9f0ptYH/QszD7SLE+5Vq2QoG4QQ1kuEHo7YZt5akmQQJVL79uibgRDP1yOA+vSMO6s4pApJla23GU5WKyy9yeTZN4DgCgIb1j8X0KiJO8kCrf8CD3Y87K3ceJ7kSk6z+r8oK+/I/vA/gpDJVBR139O3Ig1OHiouLriZOTtBVnp3RZFVXU/2SC9KmMSQe+O+Ytse2/YZjqrnnvh7/31tf6ahe/aeiZ4=
      distributions: dists
      skip_cleanup: true
      skip_upload_docs: true

notifications:
  slack:
    secure: foDoJxpD/8WTOxCbfc8F85ERYWVjgOoWyt8U0eaIZm/Hk7Hb1SJ67d7wvzNDYThvuXa5tLGBO+TzU8aHfCHCuUx6/4CXlVRtnfH6HdYiUH5rLpRlpF8DdV/+06p/HVCA3/C0FIqKQHvOVVIEeCPKgoMDjdvdCl2QWqUwm6c8F0sMPQ2XT58l2c23ODqi+xHWzHzbjNtTJesM0Guy/EUNcHUziWK/wQ8mAF27VoaS/Q7hErFlv8Y1205PahKlja/EY1VRgbgdYnTMzTudct92zw7LEEsL5JRAHMa3CbCFbUJcF/dDp9ijZZUxY2CKZMDuZI9ZpETVRtP7lPBk7gUrDEMWzVmIgtBkBOmVUQ2jobN9VnH2ryfAhE4ElkfOPKTO0YE/j42YIteL5TzdK+N3eG5im21L/m2l9jYywHeTioSg0Yf54pDyES6ZG09bPbTK65nS2h5BNw2IzUnvyyQ/9cqD34r57wC4IyMmcZbNjaR4TPWj1RbJDaiqGoWFFMZbafliZBB+M6ZDBl63+F23Yv0mismdU7PXXPr4l5yRlhQhbdD9KS8//IY8NbulonZXXJLTyEaQXGwSJu2LRCfM/6RLPz68mPA9woHISgPmwMJJ32sgLF0vftq2jpW9H7EgGfn0EVj3+kPtJ9JCpRZhesAsr+PwkhfHrGsSLUellG0=

cache: pip

install:
- pip install tox tox-venv

script: tox
